
/* section api museum */

.museum-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-size: cover;

}


.hide-museum{
    display: none;
    animation: exit 10s ease 0s 1 normal forwards;
}

@keyframes exit {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
    
}


@keyframes exit {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

.show-museum{
    width: 100%;
    height: 100vh;
    padding: 20px;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    animation: fade 1s ease 0s 1 normal forwards;
    backdrop-filter: blur(30px);
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.autor{
    /* position: fixed; */
    z-index: 200;
    text-align: center;
    font-size: 15px;
    font-family: var(--font);
    /* color: white; */
    font-weight: 300;

}


#prev, #next{
    border: none;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin: 40px; */
    background-color: transparent;
}

#prev, #next img{
    filter: invert(100%);
}
#next{
    transform: rotateY(180deg);
}

.museum-container button:hover{
    filter: sepia(10%);
}
.img-api{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    z-index: 100;
    max-width: 350px;
    /* margin: 30px; */
}
.img-api img{
    width: 300px;
    height: 300px;
}

footer{
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/space.gif);
    /* border: 3px solid white; */
}

footer h1, footer h3{
    text-align: center;

}

footer h3{
    color: white;
    font-style: italic;
}
.img-axel{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
}
.icon-container{
    display: flex;
    gap: 10px;
}
.item-container {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.519);
    border-radius: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.item-container img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.item-menu a{
    width: 100%;
    height: 100%;
} 

/* #myImage {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    background-image: url(./assets/fantasmita.gif);
    z-index: 300;
    background-size: cover;
  } */

  /* .img-axel{

  } */